* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: auto;
  max-width: 1440px;
}

.header {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #1F1D14;
}
.header__left {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.header__left h3 {
  font-size: 24px;
  color: white;
  line-height: 28px;
}
.header__list {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
}
.header__list a {
  color: white;
  text-decoration: none;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
}
.header__right .number {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
  color: white;
}
.header__right .number img {
  color: white;
  width: 20px;
  height: 20px;
}
.header__right .mail {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
  color: white;
}
.header__right .mail img {
  width: 20px;
  height: 20px;
}
.header__right .bars {
  display: none;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar2 {
  z-index: 99;
  position: sticky;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: white;
}

.container {
  height: 80px;
  display: flex;
  align-items: center;
}
.container .left {
  width: 60%;
  display: flex;
  gap: 20px;
}
.container .left button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #1F1D14;
  color: white;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .left button img {
  width: 20px;
  height: 20px;
}
.container .left .input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: #F2F2F2;
}
.container .left .input input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #F2F2F2;
}
.container .left .input img {
  width: 20px;
  height: 20px;
}
.container .right {
  width: 40%;
  display: flex;
  justify-content: end;
  gap: 15px;
}
.container .right .icon {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 15px;
  background-color: #F2F2F2;
}
.container .right .icon img {
  width: 20px;
  height: 20px;
}

@media (min-width: 300px) {
  .header__list {
    display: none;
  }
  .header__right .mail {
    display: none;
  }
  .header__right .number {
    display: none;
  }
  .header__right .bars {
    width: 30px;
    height: 30px;
    display: block;
  }
  .navbar2 .left {
    width: 100%;
  }
  .navbar2 .right {
    display: none;
  }
}
@media (min-width: 786px) {
  .header__list {
    display: flex;
  }
  .header__right .mail {
    display: flex;
  }
  .header__right .number {
    display: none;
  }
  .header__right .bars {
    display: none;
  }
  .navbar2 .right {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__right .number {
    display: flex;
  }
}
.hero {
  padding: 20px 0px;
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
}
.hero__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__right .card {
  border: none;
}
.hero__right img {
  width: 340px;
}

.container2 {
  width: 85%;
  margin: auto;
  max-width: 1440px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
}
.container2 .left {
  background-color: white;
  margin: 0px 60px;
  display: flex;
  align-items: center;
}
.container2 .left h2 {
  width: 400px;
  font-size: 32px;
  color: #1F1D14;
  font-weight: 800;
}
.container2 .left button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid yellow;
}

@media (min-width: 350px) {
  .hero__right img {
    width: auto;
  }
  .hero .container2 {
    display: flex;
    flex-direction: column;
  }
  .hero .container2 .left {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero .container2 .left h2 {
    width: auto;
    font-size: 20px;
  }
  .hero .container2 .left img {
    width: 100%;
  }
}
@media (min-width: 950px) {
  .hero__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero__right img {
    width: auto;
  }
  .hero .container2 {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .hero .container2 .left {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hero .container2 .left h2 {
    width: auto;
    font-size: 20px;
  }
  .hero .container2 .left img {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .hero .container2 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .hero__right {
    display: flex;
  }
  .hero__right .card img {
    height: 220px;
  }
  .hero .left {
    padding: 0px 0px 0px 80px;
  }
}
.katolog {
  height: auto;
  display: grid;
  margin: 30px 0px;
}
.katolog__cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}
.katolog__card {
  height: 247px;
  border-radius: 10px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.katolog__card__title {
  font-size: 20px;
}
.katolog .card1 {
  background-color: #D3E5F2;
}
.katolog .card2 {
  background-color: #E2C6BE;
}
.katolog .card3 {
  background-color: #DADBE0;
}
.katolog .card4 {
  background-color: #E2EEC0;
}
.katolog .card5 {
  background-color: #C2BCE8;
}
.katolog .card6 {
  background-color: #ABA520;
}

@media (min-width: 300px) {
  .katolog__cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .katolog__card {
    height: auto;
  }
}
@media (min-width: 450px) {
  .katolog__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .katolog__card {
    height: auto;
  }
}
@media (min-width: 750px) {
  .katolog__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1100px) {
  .katolog__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .katolog__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.aksiya {
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  padding: 20px 0px;
}
.aksiya .container {
  height: auto;
  display: flex;
  flex-direction: column;
}
.aksiya__about {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
}
.aksiya__cards {
  width: 100%;
  height: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.aksiya__card {
  position: relative;
  height: 400px;
  background-color: green;
  border-radius: 10px;
}
.aksiya__card .box {
  position: absolute;
  top: 100;
  width: 200px;
  height: 40px;
  background-color: red;
  transform: rotate(-41deg);
}