.aksiya{
    width: 100%;
    height: auto;;
    background-color: #F2F2F2;
    padding: 20px 0px;
   .container{
    height: auto;
    display: flex;
    flex-direction: column;
   }
    &__about{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }
    &__cards{
        width: 100%;
        height: auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__card{
        position: relative;
        height: 400px;
        background-color:green ;
        border-radius: 10px;
        .box{
           
            position: absolute;
            top: 100;
            width: 200px;
            height: 40px;
            background-color: red;
            transform: rotate(-41deg);
        }
    }
}